  .btn {
      background-color: #016ead;
      border-color: #016ead;
      color: #fff;
      margin: 8px;
      width: 160px;
  }
  
  .btn:hover {
      background-color: #01517f;
      border-color: #01517f;
      color: #fff;
  }
  
  form {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: auto;
      margin-right: auto;
      width: 80%
  }
  
  input {
      margin: 8px;
      width: 160px;
  }

  label {
      text-align: center;
  }